<!DOCTYPE html>
<html>
  <head>
    <title>Ielts</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head><h1>Online IELTS</h1>

<div class="container">
  <div class="container">
      <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
          <h2>Who We Are</h2>
          <p><p>It's not surprising that you've never heard of us, we've been working!</p>
          <p>But after years and years of seeing students struggle to master the IELTS exam, we've decided to matters into our own hands. This course is handcrafted to provide the most comprehensive IELTS training, specifically targeted at highly motivated learners who are looking to iron out nagging English mistakes.Here's what you'll learn.</p>
 
        </div><!-- /col -->
        <div class="col-md-4">
          <h2>What We Teach</h2>
            <div class="skills-column">
               <ul id= "skills-list">

                  <ul>
                    <li>Reading</li>
                    <li>Writing</li>
                    <li>Listening</li>
                    <li>Speaking</li>
                  </ul>

            </div> <!--end skills column -->
        
       </div><!-- /col -->
       <div class="col-md-4">
          <h2>Our Story</h2>
          <p>Underpaid and overeducated is a common theme for my generation. Countless number of people just like myself are sitting around wondering what to do with themselves after they've given their last dollar to the almight gods of higher education and are now simply left holding a bill. </p>

          <p>No job. No girlfriend. No progress. No leads. Not even a clear skill set. A 
            lot of people know about stuff, few know how to do stuff. </p>


          <p>I wanted to be different. </p>

          <p>So I set off to Vietnam, not knowing what it would give to me and I put my head down and worked. And worked. And worked some more. Along the way, however, I realized that no one should ever have to feel that way--desperate and without a plan, feeling constant overwhelmed. </p>

          </p>So I decided that I'd help people not have to.</p>.

          <p>With little money of our own and not a whole hell of a lot of business experience to start, we decided that we'd empower people with what we know: English and IELTS training. But not like other schools. The core of our business model starts with understanding that no one should have to suffer as we did. No one should have to "figure things out." Other schools may have more advanced equipment or more modern facilities, but you won't find a place that puts the concerns of their students abover everything else like we do. This is the heart of our business. </p>

        </div><!-- /col -->
      </div><!-- /row -->

    

    </body>
    </html>
    </div> <!-- /container -->

