

.container h3 {
	text-align: center;
	margin-bottom: 20px;
}

.img-responsive {
	diplay: inline-block;
	float: left;
	width: 400px;

}

 .damn-form {
 	margin-top: 20px;
   	float: left;
   	left: 20px;
   	display: inline-block;

}

.col-md-4 p {
	margin-left: 0px;
	padding: -10px;
	height: 100px;
}

#cambridge-vocab {
	margin-left: 200px;
	margin-bottom: 50px;
}

#cambridge-prep {
	margin-top: 30px;
}





// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
