


.container h3 {
	text-align: center;
	margin-bottom: 20px;
}

.img-responsive {
	diplay: inline-block;
	float: left;
	width: 400px;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
}


.btn btn-default {
  margin-bottom: 0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;

  }

h2  {
  text-align: center;
  margin-top: 0;
  text-shadow: 0px 1px 2px #2a2a2a;
  }


h3 {
  text-align: center;
}

.booyah-box-show col-xs-12 col-xs-offset-1 .carousel-inner  {
  diplay: inline-block;
  float: left;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  margin-bottom: 20px;
  max-width: 100%;
  line-height: 1;
  margin-left: 50px;
  width: 300px;
  
}











// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
