<p id="notice"><%= notice %></p>

<h2>Our Exclusive Guide to IELTS Success</h2>
      
    </div><!--end header div-->
  </div>

  <div class="container">
  <div class="row">
    <div class="col-sm-2 col-md-4">
      <h3>Cambridge IELTS Prep</h3>
    </div><!-- /col -->
    <div class="col-sm-2 col-md-4">
      <h3>IELTS Vocabulary Prep</h3>
    </div><!-- /col -->
    <div class="col-sm-2 col-md-4">
      <h3>IELTS Reading Prep</h3>
    </div><!-- /col -->


<%= link_to 'New Product', new_product_path %>
<div class="container-fluid">
  <div class="row">
    <%= render @products %>
    <% end %>
  </div> <!--Container -->


      
  



